.container {
  background-color: fuchsia;
  border: 10px cyan solid;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  background-color: black;
  color: white;
}
.text {
  justify-content: flex-start;
  color: black;
}
.titre {
  color: cyan;

  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
.logo {
  height: 60vh;
  width: auto;
}
.connexion {
  width: 10vw;
  background-color: fuchsia;
  border-radius: 25px;
  border: 10px cyan solid;
}
.jouer {
  background-color: rgb(87, 87, 255);
  color: cyan;
  border: 10px cyan solid;
  border-radius: 25px;
}
