.victory {
  background-image: url(src/Components/img/TYMKqZ.webp);
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.coupe {
  display: flex;
  flex-direction: row;
  color: aqua;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-size-adjust: 55px;
}
.coupee {
  height: 15vh;
  width: auto;
}
.tt {
  color: gold;
}
.ttt {
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-size-adjust: 55px;
}
.defaite {
  background-image: url(src/Components/img/TYMKqZ.webp);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.defaitee {
  height: 25vh;
  width: auto;
}
.V {
  background-color: #3c1053;
  padding: 0.5% 1% 0.5% 1%;
  border-radius: 25px;
  color: #dfc5ec;
}
.V:hover {
  border: 0.1rem solid #fff;
  padding: 0.5% 1% 0.5% 1%;
  border-radius: 10px;
  box-shadow: 0 0 0.1rem #fff, 0 0 1rem #dfc5ec, 0 0 0.3rem #dfc5ec,
    inset 0 0 0.1rem #dfc5ec;
  color: #dfc5ec;
  cursor: url(src/Components/img/cursor2redimensioner.png), pointer;
  overflow: hidden;
}
.defaite {
  background-image: url(src/Components/background/Carida_Incident.webp);
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.jump {
  margin-top: 25%;
}
