#infrastructure-container {
  background-image: url(src/Components/background/bg6.webp);
  background-size: cover;
  padding-bottom: 9%;
  height: 100vh;
}

#infrastructure-container .navbarmenu {
  background-color: rgba(33, 0, 65, 0.948);
  width: 20%;
}
#infrastructure-container .logonav {
  width: 50px;
  margin-bottom: 5%;
}
#infrastructure-container .boutonm {
  color: aqua;
  cursor: pointer;
}
#infrastructure-container .boutonm:hover {
  font-size: 18px;
  cursor: pointer;
}
#infrastructure-container .boutondec {
  color: rgb(0, 8, 255);
  cursor: pointer;
}
#infrastructure-container .boutondec:hover {
  font-size: 18px;
  cursor: pointer;
}
#infrastructure-container .boutonclose {
  background-color: #c296ff;
}
#infrastructure-container .return {
  width: 8%;
  cursor: pointer;
}
#infrastructure-container .return:hover {
  width: 8.5%;
  cursor: pointer;
}

#infrastructure-container h2 {
  background-color: rgba(203, 152, 255, 0.488);
  border-radius: 10px;
  border: 2px solid aqua;
  color: aqua;
  font-size: 32px;
  -webkit-text-stroke: 2px rgba(30, 2, 57, 0.877);
  padding: 0% 2% 0% 2%;
}

/* CONTAINER MINE-CENTRAL-RAFFINERIE */

#infrastructure-container .card {
  height: 289px;
  width: 250px;
  overflow: auto;
  position: relative;
  background-color: rgba(203, 152, 255, 0.702);
  border: 3px solid rgb(238, 0, 255);
}
#infrastructure-container .card-header {
  color: aqua;
  background-color: rgba(54, 27, 81, 0.764);
}

.imgMine {
  width: 50%;
}
