.imge {
  height: 8vh;
  width: auto;
}
.card {
  height: 65vh;
  max-width: 30vw;
  background-color: rgba(240, 248, 255, 0.426);

  border: 4px fuchsia solid;
}
.card-title {
  color: cyan;
}
#production {
  background-image: url(src/Components/background/bg6.webp);
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-body {
  position: relative;
  height: 200px;
  overflow: auto;
}
.delete {
  background-color: rgba(240, 248, 255, 0);
  color: white;
  border: 2px red solid;
  border-radius: 25px;
  -webkit-text-stroke: 0.7px red;
  cursor: url(src/Components/img/cursor2redimensioner.png), pointer;
}
.product {
  background-color: black;
  color: cyan;
  width: 2vw;
  height: auto;
}
.imgee {
  height: 8vh;
  width: auto;
}
