/* .parent {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  color: black;
  border-style: ridge black;
  background-image: url(src\Components\background\bg4.jpg);
} */

/* .attack {
  background-image: url(src\Components\background\bg4.jpg);
} */
/* 
.grid {
  border: 5px solid rgb(111, 41, 97);
  display: grid;
  grid-template-areas:
    "one one two two"
    "one one two two"
    "three three four four"
    "three three four four";
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
  inline-size: 500px;
}

.grid {
  border-radius: 5px;
  padding: 10px;
}

body {
  padding: 50px;
  font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
}
.grid > * {
  background-color: rgba(111, 41, 97, 0.4);
  border-radius: 5px;
  padding: 10px;
} */

/* .parent {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div1 {
  grid-area: 77 / 15 / 78 / 16;
} */
/* td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}

td {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #eee;
}

th[scope="col"] {
  background-color: #696969;
  color: #fff;
}

th[scope="row"] {
  background-color: #d7d9f2;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
} */
/* 
.angry-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
} */

/* 
@media (max-width: 767px) {
  .angry-grid {
    grid-template-rows: 4rem auto auto 45px;
    grid-template-columns: 16rem auto;

    grid-template-areas:
      "logo header"
      "sidebar main-content"
      "sidebar footer";

    grid-template-areas:
      "logo header"
      "sidebar sidebar"
      "main-content main-content";
      "footer footer"
  }
} */

/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 8px 8px;
  border: 2px solid rgb(200, 200, 200);
}

.fondcase {
  background-color: aquamarine;
} */
/* body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  height: 100%;
}

.cell {
  border: 1px solid #ccc;
}

.cell.current {
  background-color: #ff9999; /* Couleur de fond pour la case actuelle */
/* }

.cell.visited {
  background-color: #f0f0f0; /* Couleur de fond pour les cases visitées */
/* } */

body {
  background-image: url(src\Components\background\bg4.jpgs);
}

.card {
  background-color: purple;
  border: 1px solid aquamarine;
  padding: 6px;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(100, 100px);
}
