.titleB {
  text-align: center;
  color: rgb(180, 96, 180);
  color: #c6e2ff;
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
    0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
    0 0 54px rgba(30, 132, 242, 0.92);
}

.returnptodash {
  width: 6%;
  cursor: pointer;
}
#fond-battle {
  background-image: url(src/Components/background/bg9.jpg);
  height: 234vh;
}

.blinking-text {
  animation: blink 1s infinite;
}
.battle-wait {
  opacity: 200%;
  color: green;
}

.planet-position {
  color: green;
}
.cursorTarget {
  cursor: crosshair;
}

.coordinates-display {
  color: white;
}
.affichPosi {
  color: white;
}
.retroHistory {
  background-color: black;
  height: 100px;
  width: 100px;
}
/* Battle.css */

.blue-dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: blue;
  border-radius: 50%;
  pointer-events: none;
}

.cursorTarget {
  cursor: crosshair;
}
.positionAdv {
  color: green;
}

.messErreurB {
  text-shadow: 2px 2px 2px red;
}
