.returnptodash {
  width: 6%;
  cursor: pointer;
}
#fond-battle {
  background-image: url(src/Components/background/bg9.jpg);
  height: 100vh;
}

.blinking-text {
  animation: blink 1s infinite;
}
.battle-wait {
  opacity: 200%;
  color: green;
}
.planet-position {
  color: white;
}
.img-fluid {
  opacity: 60%;
  height: 100%;
  width: 100%;
  cursor: crosshair;
}
