/* #page-principale .label {
  display: flex;
  justify-content: center;
} */

#dashboard .envoyer {
  border-radius: 10px;
  color: red;
  background-color: rgb(241, 107, 239);
  border: 3px aqua solid;
  font-weight: bolder;
  padding: 8px;
}

#dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#dashboard .bienvenu {
  color: white;
}

/* #dashboard .bienvenu .choix {
  color: #818181;
} */

.fondimage {
  background-image: url(bg3.jpg);
  height: 120vh;
  font-family: "Lato", sans-serif;
}
