body{
    background:url("../background/bg7.jpg");
    background-size: 100vw;
    margin-top: 5%;

}

img{
    width: 80vh ;
}
#home-container .logo{
    display: flex;
    justify-content: center;
}
#home-container  .allbouton{
    display: flex;
    justify-content: center;
    gap: 3%;
}

#home-container .bouton{
    border-radius: 20px;
    color: black;
    background-color: rgb(241, 107, 239);
    border: 3px rgb(94, 215, 248) solid ;
    font-weight: bolder;
}
