body{
    background:url("../background/bg7.jpg");
    background-size: 100vw;
    margin-top: 5%;

}

img{
    width: 80vh ;
}
.logo{
    display: flex;
    justify-content: center;
}
.btn{
    display: flex;
    justify-content: center;
    gap: 3%;
}