#login-container {
  background-image: url(src/Components/background/bg7.jpg);
  background-size: cover;
  padding-bottom: 19%;
}
#login-container .bouton {
  border-radius: 10px;
  color: black;
  background-color: rgb(241, 107, 239);
  border: 3px aqua solid;
  font-weight: bolder;
  padding: 8px;
}

#login-container .bouton:hover {
  border: 0.2rem solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 0.2rem #fff, 0 0 2rem aqua, 0 0 0.5rem aqua,
    inset 0 0 0.3rem aqua;
}

#login-container .logor {
  width: 20%;
}
#login-container h2 {
  color: aqua;
  font-size: 35px;
  -webkit-text-stroke: 1.6px black;
}

#login-container .contenue {
  border: 5px aqua solid;
  border-radius: 20px;
  margin-top: 5%;
}

#login-container .champs {
  color: aqua;
}

#login-container .boutonr {
  color: aqua;
  border: 3px aqua solid;
  border-radius: 10px;
  font-size: 20px;
  padding: 0% 5% 0% 5%;
  background-color: rgb(86, 42, 127);
}

#login-container .boutonr:hover {
  border: 0.2rem solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 0.2rem #fff, 0 0 2rem aqua, 0 0 0.5rem aqua,
    inset 0 0 0.3rem aqua;
}

#login-container a {
  font-size: 12px;
  color: rgb(86, 42, 127);
}

#login-container a:hover {
  border-bottom: 2px rgb(151, 27, 218) solid;
  margin-left: 41%;
  font-size: 13px;
  color: rgb(122, 19, 218);
}
