#rangking {
  background-image: url(src/Components/background/bg9.jpg);
  height: 100vh;
}
.titlecarte {
  color: rgb(147, 244, 244);

  border-bottom: solid 4px rgb(72, 5, 134);
}
.text-center {
  width: 60%;
  text-align: center;
  opacity: 70%;
  background-color: rgb(17, 17, 81);
  color: rgb(230, 226, 242);
}

.r-center-king {
  text-align: center;
}
