#PF-container .bouton {
  border-radius: 10px;
  color: black;
  background-color: rgb(241, 107, 239);
  border: 3px aqua solid;
  font-weight: bolder;
  padding: 8px;
  cursor: url(src/Components/img/cursor2redimensioner.png), pointer;
}

#PF-container h3 {
  font-size: 18px;
  color: rgb(119, 16, 215);
}

#PF-container .bouton:hover {
  border: 0.2rem solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 0.2rem #fff, 0 0 2rem aqua, 0 0 0.5rem aqua,
    inset 0 0 0.3rem aqua;
}

#PF-container .logor {
  width: 20%;
}
#PF-container h2 {
  color: aqua;
  font-size: 30px;
  -webkit-text-stroke: 1.6px black;
}

#PF-container .contenue {
  border: 5px aqua solid;
  border-radius: 20px;
}

#PF-container .champs {
  color: aqua;
}

#PF-container {
  background-image: url(src/Components/background/bg7.jpg);
  background-size: cover;
  /* padding: 0% 0% 25% 0%; */
  height: 100vh;
}

#PF-container .boutonr {
  color: aqua;
  border: 3px aqua solid;
  border-radius: 10px;
  font-size: 20px;
  padding: 0% 5% 0% 5%;
  background-color: rgb(86, 42, 127);
}

/* #PF-container .boutonr:hover {
  border: 0.2rem solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 0.2rem #fff, 0 0 2rem aqua, 0 0 0.5rem aqua,
    inset 0 0 0.3rem aqua;
  cursor: url(src/Components/img/cursor2redimensioner.png), pointer;
} */

#PF-container a {
  font-size: 12px;
  color: rgb(86, 42, 127);
}
